.red{
    background-image: url(../assets/images/swag.png);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.auth{
    background-color: #EEEEEE;
}

.formCol{
    
}