.red{
    background-image: url(../assets/images/swag.png);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.auth{
    background-color: #EEEEEE;
    margin-bottom: -15px !important;
}

.formCol{
    background-color: #fff;
    padding: 40px 20px 0px 20px;
    width: 400px !important;
}

.tall-row{
  height: 600px !important;
}

.input-form{
  width: 300px;
  height: 30px;
}

label{
  font-size: 16px !important;
}

.signButton > button{
  width: 300px;
  background-color: #800000;
  border-color: #800000;
}