.women{
    height: 500px;
}

h1{
    font-weight: 900;
}

.our-story{
    margin-top: 90px !important;
}

.img-about{
    margin-top: 20px;
}

#who{
    margin-top: 30px;
}

.thisIs{
    text-align: center !important;
    margin-top: 50px;
}

.joinUs{
    background-color: #fff;
    border: 2px solid #800000;
    width: 150px !important;
    padding: 5px 25px 5px 25px !important;
    font-size: 16px;
}

.joinUs > a{
    color: #800000;
    font-weight: 700;
}

.joinUs > a:hover{
    color: #fff;
}


.joinUs:hover{
    background-color: #6f1616;
    border-color: #80000071;
}