.contain{
    // background-color: #800000;
    padding: 20px;
    margin-bottom: 40px;
    color: #000 !important;
}

.arrival-container{
    display: flex;
    justify-content: center;
  }

.arrival-container > div {
        width: 350px;
        // margin: 10px;
        text-align: center;
        line-height: 50px;
        
}

.men{
    background-image: url(../assets/images/men.png);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.women{
    background-image: url(../assets/images/women.png);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.col-s > ul {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.arrivee{
    margin: 0 !important;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    padding-top: 5em;
    color: #000 !important;
}

p{
    font-size: 16px;
}
.but{

  border: none;
  position: relative;
  top: 70%;
  color: #000;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: inherit;
  margin-top: 5rem;
  border: 2px solid #800000;
  transition: all .2s ease-in;
}

.but:hover{
    background-color: #800000;
    color: #fff;
    text-decoration: none;
}