.topBannerImg{
    width: 100%;
}

.topBan{
    padding: 0;
    // background-image: url(../../assets/images/top-banner.png);
    // background-position: center;
    // background-size: cover;
    margin-bottom: 20px;
}